---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlockLayout from "../layouts/BlockLayout";
import Experience from "./Experience";
import Intro from "./Intro";
import Works from "./Works";
---

<BaseLayout>
  <div class="grid grid-cols-1 md:grid-cols-12 gap-[var(--my-border)]">
    <Intro />

    <Experience client:load />
    <Works client:only="react" />

    <BlockLayout className="col-span-1 md:col-span-12">
      <h1>作品</h1>
    </BlockLayout>

    <BlockLayout className="col-span-1 md:col-span-12">
      <h1>技能</h1>
    </BlockLayout>

    <BlockLayout className="col-span-1 md:col-span-4">
      <h1>聯絡</h1>
    </BlockLayout>

    <BlockLayout className="col-span-1 md:col-span-8">
      <h1>處方箋</h1>
    </BlockLayout>
  </div>
</BaseLayout>
