---
import Divider from "./Divider";
---

<header
  class="sticky top-0 z-10 border-(length:--my-border) text-xs bg-white w-full"
>
  <ul class="flex items-center justify-between w-full h-12">
    <li class="flex-1 text-center font-mono"><a href="/about">關於 Yoha</a></li>
    <Divider className="h-6" />
    <li class="flex-1 text-center font-mono"><a href="/blog">前端處方箋</a></li>
    <Divider className="h-6" />
    <li class="flex-1 text-center font-mono"><a href="/works">作品集</a></li>
  </ul>
</header>
