---
import Header from "../components/Header.astro";
import Hero from "../pages/Hero";
import "../styles/global.css";
import Overlay from "./Overlay.astro";
import clsx from "clsx";
const { pageTitle, className } = Astro.props;
const pathname = Astro.originPathname;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Italiana&family=Noto+Sans+TC:wght@400;500;700&family=Noto+Serif+TC:wght@400;500;600&display=swap"
      rel="stylesheet"
    />
    <title>{pageTitle}</title>
  </head>
  <body class="relative pb-2 min-h-screen w-screen overflow-auto">
    {pathname === "/" && <Hero client:load/>}

    <div class="max-w-[1200px] my-0 mx-auto">
      <!-- Overlay 提供紙感背景-->
      <Overlay />
      <Header />

      <div
        id="site-wrapper"
        class="border-(length:--my-border) flex-1 mt-[calc(var(--my-border)*-1)]"
      >
        <div class={clsx(className)}>
          <slot />
        </div>
      </div>

      <script>
        import "../scripts/menu.js";
      </script>
    </div>
  </body>
</html>
